/* styles.css */

/* Base styles for the section */
.section {
    position: relative;
    margin-top: 2rem;
    width: 100%;
    height: 100%;
  }
  
  /* Styles for the background image */
  .section .background {
    height: 100%;
  }
  
  .section .background img {
    width: 100%;
    filter: brightness(60%);
  }
  
  /* Styles for the content within the section */
  .section .content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .section .content .title {
    color: white;
  }
  
  .section .content .title h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }
  
  .section .content .title p {
    text-align: center;
    padding: 0 5%; /* Adjusted padding for responsiveness */
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  
  .section .content .search {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    background-color: #ffffffce;
    padding: 0.5rem;
    border-radius: 10rem;
  }
  
  .section .content .search .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1.5rem;
  }
  
  .section .content .search .container label {
    font-size: 1.1rem;
    color: #03045e;
  }
  
  .section .content .search .container input {
    background-color: transparent;
    border: 2px;
    border-radius: 10rem;
    font-size: medium; /* Adjusted font size for responsiveness */
    width: 100%; /* Take full width on smaller screens */
    height: 5vh;
    text-align: center;
    color: black;
  }
  
  .section .content .search .container input[type="date"] {
    padding-left: 1rem;
  }
  
  .section .content .search .container input::placeholder {
    color: black;
  }
  
  .section .content .search .container input:focus {
    outline: none;
  }
  
  .section .content .search button {
    flex: 1; /* Take full width on smaller screens */
    margin-top: 0.5rem; /* Adjusted margin for better spacing */
    padding: 1rem;
    cursor: pointer;
    border-radius: 1.5rem;
    border: none;
    color: white;
    background-color: #4361ee;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
  }
  
  .section .content .search button:hover {
    background-color: #023e8a;
  }
  
  /* Media query for smaller screens */
  @media screen and (min-width: 280px) and (max-width: 980px) {
    .section {
      height: 25rem;
    }
  
    .section .background {
      background-color: palegreen;
      img {
        height: 100%;
      }
    }
  
    .section .content .title h1 {
      font-size: 1.5rem; /* Adjusted font size for responsiveness */
    }
  
    .section .content .title p {
      font-size: 1rem; /* Adjusted font size for responsiveness */
      padding: 1vw;
    }
  
    .section .content .search {
      padding: 0.8rem;
      gap: 0.8rem;
    }
  
    .section .content .search .container {
      padding: 0 0.8rem;
    }
  
    .section .content .search .container input[type="date"] {
      padding-left: 1rem;
    }
  
    .section .content .search button {
      padding: 1rem;
      font-size: 1rem;
    }
  }
  
